.card {
  margin-left: auto !important;
  margin-right: auto !important;
}

.card-body .row {
  margin-top: 2px !important;
}

.card-size-small {
  max-width: 576px !important;
}

.card-size-medium {
  max-width: 768px !important;
}

.card-size-large {
  max-width: 992px !important;
}

.card-size-max {
  max-width: 100% !important;
}

.form-group {
  margin-bottom: 4px !important;
}

.fixedcolumn {
  position: sticky !important;
  left: 0 !important;
}

.fixedcolumn-data {
  background-color: white !important;
}

.fixedcolumn-data a {
  color: black !important;
}

.table-bordered> :not(caption)>*>* {
  border-width: 0 1px;
}

.table> :not(caption)>*>* {
  padding: .5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  background-color: white;
}

.table th,
.col-caption {
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
}

.table td,
.col-data {
  vertical-align: middle;
  white-space: nowrap;
}

.table-wrap {
  width: 100%;
}

.control-label {
  font-weight: bold;
  padding-top: 8px;
  padding-left: 6px;
  color: darkblue;
}

.control-data {
  padding-top: 8px;
  color: black;
}

.bootstrap-select.form-control {
  border: 1px solid #ced4da !important;
}

.bootstrap-select button {
  background-color: white !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.nav-item,
.sidenav a {
  color: #fff !important;
}

.nav-item,
.sidenav a:active {
  color: yellow !important;
}

.nav-item,
.sidenav a:hover {
  font-weight: bold !important;
  color: orange !important;
}

.pagetitle {
  font-size: large;
  font-weight: bold;
  color: darkblue;
}

.page-info {
  font-size: large;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  flex: 1;
}

.pagination {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  gap: 0.625rem;
  font-size: large;
  font-weight: bold;
}

.page-item,
.page-link {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PagedList-pageCountAndLocation {
  justify-content: start;
  order: -1;
  flex: 1;
}

.footer .copyright {
  text-align: right !important;
}

.img-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.img-modal-content {
  max-width: 90vw;
  max-height: 90vh;
  border: 4px solid #fff;
  box-shadow: 0 0 20px #333;
  background: #fff;
}

.img-modal-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}